<h1 class="main_heading"><u>6</u> <u>Words</u> <u>About</u> <u>Anyone</u> <u>On</u> <u>Twitter</u></h1>
<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
<div id="login">
    <p>
      <a class="twitter-before"><span class="fontawesome-twitter"></span></a>
      <button class="twitter"><%= link_to "Login With Twitter", user_omniauth_authorize_path(:twitter) %></button>
    </p>
</div>
<% end %>


